@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
.{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Poppins',sans-serif;
}

body{
	background: #1f242d;
}
a{
	color: white;
	text-decoration:  none;
}
.navbar{
	position: fixed;
	left: 0;
	top: 0;
	width: 98%;
	padding: 20px 1%;
	background: slateblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.navbar .logo{
	font-size: 32px;
	font-weight: 700;
	color: cyan ;
}
.navbar ul{
	display: flex;
	
}
.navbar ul li{
	list-style: none;
	margin-left: 35px;
}
.navbar ul li a{
	font-size: 22px;
	font-weight: 500;
	transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a{
	color: goldenrod;
	}
.home{
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 60px 9% 0;
	color: white;
}
.home-info h1{
	font-size: 55px;

}
.home-info h2{
	font-size: 30px;
	margin-top: -20px;

}
.home-info h2 span{
	display: inline-block;
	color: cyan;
	-webkit-text: .7px cyan;
	font-size: 42px;
	font-weight: 700;
}
.home-info p{
	font-size: 16px;
	margin: 10px 0 25px;
	
}
.home-info .btn-sci{
	display: flex;
	align-items: center;
}
.btn{
	display: inline-block;
	padding: 10px 30px;
	background: green;
	border: green;
	border-radius: 40%;
	box-shadow: 0 0 10px green;
	font-size: 16px;
	font-weight: 600;
	transition: .5s;
}
.btn:hover{
	background: transparent;
	box-shadow:  none;
	color: turquoise;
}
.home-info .btn-sci .sci{
	margin-left: 20px;

}
.home-info .btn-sci .sci a{
	display: inline-flex;
	padding: 8px;
	border: 2px solid cyan;
	border-radius: 50%;
	font-size: 20px;
	color: cyan;
	margin: 0 8px;
	box-shadow: 0 0 10px;
	transition: .5s;

}
.home-info .btn-sci .sci a:hover{
	color: black;
	background: cyan;
	box-shadow: 0 0 10px;
}
.image .img-box{
	
	
	
	width: 35vw;
	height: 35vw;
	background: cyan;
	border-radius:32%;
	
}
.image .img-box .img-item{
	position: relative;
	width: 100%;
	height: 100%;
	background: cyan;
	border-radius:20%;
	display: flex;
	justify-content: center;


}
.image .img-box .img-item img{
	position: absolute;
	display: block;
	object-fit: cover;
	width: 95%;
	border-radius:40%;
	top: 15px;
	overflow: hidden;
}
.project{
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 60px 9% 0;
	color: white;
}
.project-info h1{
	font-size: 50px;
	font-size: 1000;
	color: cyan;
	
}
.project-info p1{
	font-size: 18px;
	margin: 10px 0 25px;
}
.project-info h2{
	font-size: 30px;
	font-size: 600;
	color: cyan;
}
.images .images-box{
		
	width: 31vw;
	height: 20vw;
	background: red;	
}

 .images .images-box .images-item{
		position: relative;
	width: 100%;
	height: 100%;
	background: red;
	border-radius:20%;
	display: flex;
	justify-content: center;
}
.images .images-box .images-item img{
	position: absolute;
	display: block;
	object-fit: cover;
	width: 99%;
	
	top: 25px;
	overflow: hidden;
}
.AboutMe{
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 60px 9% 0;
	color: white;

}
.AboutMe-info h1{
	font-size: 55px;
	color: cyan;
	font-weight: 500;
	font-family: fantasy;
}
.AboutMe-info p{
	font-size: 24px;
	font-display: block;
	font-family: cursive;

}
.AboutMe-info span{
	font-size: 36px;
	font-display: block;
	font-family: cursive;
	color: cyan;
}
.contact{
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 60px 9% 0;
	color: white;

}
.contact-info h1{
	font-size: 50px;
	color: cyan;
	font-weight: 700;
}
.contact-info .scis{
	display: flex;
	align-items: center;
	margin-left: 20px;
}
.contact-info .scis a{
	display: inline-flex;
	padding: 8px;
	border: 2px solid cyan;
	/*border-radius: 50%;*/
	font-size: 20px;
	color: cyan;
	margin: 0 8px;
	box-shadow: 0 0 10px;
	transition: .5s;
}